@media screen and (max-width: 1118px) {
    body {
        zoom: 0.9;
    }
}

@media screen and (max-width: 1008px) {
    body {
        zoom: 0.8;
    }
}

@media screen and (max-width: 881px) {
    body {
        zoom: 0.7;
    }
}

@media screen and (max-width: 771px) {
    body {
        zoom: 0.6;
    }
}

@media screen and (max-width: 661px) {
    body {
        zoom: 0.5;
    }
}

@media screen and (max-width: 551px) {
    body {
        zoom: 0.4;
    }
}

@media screen and (max-width: 441px) {
    body {
        zoom: 0.3;
    }
}

@media screen and (max-width: 331px) {
    body {
        zoom: 0.2;
    }
}

@media screen and (max-width: 221px) {
    body {
        zoom: 0.1;
    }
}